
<div class="row">
  <div class="col-md-6">x</div>
  <div class="col-md-6">x</div>
</div>

<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

<dan-toggle [(model)]="toggle" (onChanged)="log($event)"></dan-toggle>


<dan-toggle-mqtt [(model)]="switcher" (onChanged)="log($event)"></dan-toggle-mqtt>

<dan-toggle-mqtt [(model)]="switcherTwo" (onChanged)="log($event)"></dan-toggle-mqtt>

<table>
  <tr>
      <td>Topic: </td>
      <td><input [(ngModel)]="topicname" type="text" /></td>
      <td><button type="button" (click)="subscribeNewTopic()">Subscribe Topic</button></td>
  </tr>
  <tr>
      <td>Message: </td>
      <td><input [(ngModel)]="msg" type="text" /></td>
      <td><button type="button" (click)="sendmsg()">Send</button></td>
  </tr>
  <tr>
      <td></td>
      <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
      <td></td>
  </tr>
</table>
<br /><br />
<div #msglog>
</div>
